<div class="container mt-4">
    <div *ngIf="contact">
      <h2>{{ contact.name }}</h2>
      <p><strong>Teléfonos:</strong></p>
      <p *ngFor="let phone of contact.phones">{{phone.number}}</p>
      <p><strong>Emails:</strong></p>
      <p *ngFor="let email of contact.emails">{{email.email}}</p>
      <p><strong>Dirección:</strong></p>
      <p *ngFor="let address of contact.addresses">{{address.address}}</p>
    </div>
    <div *ngIf="!contact">
      <p>Contacto no encontrado.</p>
    </div>
    <button type="submit" class="btn btn-warning" routerLink="/contacts">Regresar</button>
  </div>
  