<div class="container">
    <h2>Agregar Contacto</h2>
    <form [formGroup]="contactForm" (ngSubmit)="addContact()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" formControlName="name" class="form-control" required>
      </div>
  
      <!-- Emails -->
      <div formArrayName="emails">
        <div *ngFor="let email of emails.controls; let i = index" [formGroupName]="i" class="form-group">
          <label for="email{{i}}">Correo {{i + 1}}</label>
          <input type="email" [id]="'email' + i" formControlName="email" class="form-control" required>
          <button type="button" class="btn btn-danger btn-sm" (click)="removeEmailField(i)">Eliminar</button>
        </div>
        <button type="button" class="btn btn-success btn-sm" (click)="addEmailField()">Agregar Correo</button>
      </div>
  
      <!-- Teléfonos -->
      <div formArrayName="phones">
        <div *ngFor="let phone of phones.controls; let i = index" [formGroupName]="i" class="form-group">
          <label for="phone{{i}}">Teléfono {{i + 1}}</label>
          <input type="text" [id]="'phone' + i" formControlName="number" class="form-control" required>
          <button type="button" class="btn btn-danger btn-sm" (click)="removePhoneField(i)">Eliminar</button>
        </div>
        <button type="button" class="btn btn-success btn-sm" (click)="addPhoneField()">Agregar Teléfono</button>
      </div>
  
      <!-- Direcciones -->
      <div formArrayName="addresses">
        <div *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i" class="form-group">
          <label for="address{{i}}">Dirección {{i + 1}}</label>
          <input type="text" [id]="'address' + i" formControlName="address" class="form-control" required>
          <button type="button" class="btn btn-danger btn-sm" (click)="removeAddressField(i)">Eliminar</button>
        </div>
        <button type="button" class="btn btn-success btn-sm" (click)="addAddressField()">Agregar Dirección</button>
      </div>
  
      <button type="submit" class="btn btn-success">Guardar Contacto</button>
      <button type="submit" class="btn btn-danger" routerLink="/contacts">Cancelar</button>
    </form>
  </div>
  