<div class="container mt-4">
  <h1>Listado de Contactos</h1>
  <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Buscar contactos..." [(ngModel)]="search" (input)="onSearchChange()">
    </div>
    <div class="col-md-6 text-end">
      <button class="btn btn-primary" routerLink="/contacts/new">Agregar Nuevo Contacto</button>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.name }}</td>
        <td>
          <button class="btn btn-sm btn-info me-1" (click)="viewContactDetails(contact.id)">Ver</button>
          <button class="btn btn-sm btn-primary me-1" (click)="editContact(contact.id)">Editar</button>
          <button class="btn btn-sm btn-danger" (click)="deleteContact(contact.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="!hasPreviousPage()">
        <button class="page-link" (click)="onPageChange(1)" aria-label="First">
          <span aria-hidden="true">Primera</span>
        </button>
      </li>
      <li class="page-item" [class.disabled]="!hasPreviousPage()">
        <button class="page-link" (click)="onPageChange(getPreviousPage())" aria-label="Previous">
          <span aria-hidden="true">&laquo; Anterior</span>
        </button>
      </li>
      <li class="page-item" *ngFor="let page of getVisiblePages()" [class.active]="currentPage === page">
        <button class="page-link" (click)="onPageChange(page)">{{ page }}</button>
      </li>
      <li class="page-item" [class.disabled]="!hasNextPage()">
        <button class="page-link" (click)="onPageChange(getNextPage())" aria-label="Next">
          <span aria-hidden="true">Siguiente &raquo;</span>
        </button>
      </li>
      <li class="page-item" [class.disabled]="!hasNextPage()">
        <button class="page-link" (click)="onPageChange(totalPages)" aria-label="Last">
          <span aria-hidden="true">Última</span>
        </button>
      </li>
    </ul>
  </nav>
</div>
